body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(206, 18, 18);
}
h1,p{
    text-align: center;
    color:whitesmoke;
}

button{
    border: none; 
    background: none; 
    outline: none;
    color:lightgoldenrodyellow; 
}
